<div class="sidebar-tags">
    <h3>Tags</h3>
    {{- $tags := .Site.Taxonomies.tags }}
    {{- if $tags }}
    <ul class="tag-list">
        {{- range $name, $taxonomy := $tags }}
        <li class="tag-item">
            <a href="{{ "tags/" | absURL }}{{ $name | urlize }}">
                <span class="tag-name">{{ $name }}</span>
                <span class="tag-count">{{ len $taxonomy }}</span>
            </a>
        </li>
        {{- end }}
    </ul>
    {{- else }}
    <p class="no-tags">No tags yet</p>
    {{- end }}
</div>
